<!-- ====================================================================================================================== -->
<!-- ## Copy dan paste kode dibawah ini di dalam tag <body> ##-->
<center>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="src/assets/section-10-slide-1.webp" style="width:100%"> <!-- ganti nama gambar sesuai dengan nama file gambar yang ada -->
        </div>

        <div class="mySlides fade">
            <img src="src/assets/section-10-slide-2.webp" style="width:100%"> <!-- ganti nama gambar sesuai dengan nama file gambar yang ada -->
        </div>

        <div class="mySlides fade">
            <img src="src/assets/section-10-slide-3.webp" style="width:100%"> <!-- ganti nama gambar sesuai dengan nama file gambar yang ada -->
        </div>

        <div class="mySlides fade">
            <img src="src/assets/section-10-slide-4.webp" style="width:100%"> <!-- ganti nama gambar sesuai dengan nama file gambar yang ada -->
        </div>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</center>

<!-- ====================================================================================================================== -->
<!-- ## Copy & paste kode dibawah ini di bagian bawah namun tetap dalam tag <body> ##-->
<script src="src/scripts/slideshow.js" language="javascript"></script>

<!-- Jika ingin memodifikasi durasi slide pada slideshow bisa menuju file src/scripts/slideshow.js -->