<div class="navbar-bottom">
    <a href="#form">
        <div class="row">
            <div style="font-size: 20px; margin-top: 5px;" class="col center"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="col">Manfaat<br>Nutriflakes</div>
        </div>
    </a>
    <a href="#alert">
        <div class="row">
            <div style="font-size: 20px; margin-top: 5px;" class="col center"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
            <div class="col">Testimoni<br>Pelanggan</div>
        </div>
    </a>
    <a href="#form">
        <div class="row">
            <div style="font-size: 20px; margin-top: 5px;" class="col center"><i class="fa fa-tags" aria-hidden="true"></i></div>
            <div class="col">Dapatkan<br>Promo</div>
        </div>
    </a>
</div>