<!-- Ini adalah komponen counter tanpa titik contoh (1000, 10000, 100000 dst) -->
<!-- ====================================================================================================================== -->
<!-- ## Copy dan paste kode dibawah ini di dalam tag <body> ##-->
<div style="text-align: center">
  <div id="baseCounter" style="font: 800 60px system-ui; color: #ff1b1b">
    100
  </div>
  <p
    style="
      text-transform: uppercase;
      color: #000;
      font-weight: 600;
      font-size: 22px;
      text-shadow: 1px 0px 2px #000;
    ">
    tersisa 22 box hari ini
  </p>
</div>
<!-- ====================================================================================================================== -->
<!-- ## Copy & paste kode dibawah ini di bagian bawah namun tetap dalam tag <body> ##-->
<script src="src/scripts/counter.js" language="javascript"></script>

<!-- Jika ingin memodifikasi angka pada counter bisa menuju file src/scripts/counter.js -->