<!-- Ini adalah komponen counter dengan menggunakan titik jika angka yang ditampilkan ribuan
contoh (1.000, 10.000, 100.000 dst) -->
<!-- ====================================================================================================================== -->
<!-- ## Copy dan paste kode dibawah ini di dalam tag <body> ##-->
<div style="text-align: center">
  <div id="counterTitik" style="font: 800 60px system-ui; color: #ff1b1b">1000</div>
  <p
    style="
      text-transform: uppercase;
      color: #000;
      font-weight: 600;
      font-size: 22px;
      text-shadow: 1px 0px 2px #000;
    ">
    tersisa 22 box hari ini
  </p>
</div>
<!-- ====================================================================================================================== -->
<!-- ## Copy & paste kode dibawah ini di bagian bawah namun tetap dalam tag <body> ##-->
<script src="src/scripts/counter-titik.js" language="javascript"></script>

<!-- Jika ingin memodifikasi angka pada counter bisa menuju file src/scripts/counter-titik.js -->