<!-- Countdown -->
<!-- ====================================================================================================================== -->
<!-- ## Copy dan paste kode dibawah ini di dalam tag <body> ##-->
    <p id="countdown" class="countdown"></p>

<!-- ====================================================================================================================== -->
<!-- ## Copy & paste kode dibawah ini di bagian bawah namun tetap dalam tag <body> ##-->
<script src="src/scripts/countdown.js" language="javascript"></script>

<!-- Jika ingin memodifikasi angka pada counter bisa menuju file src/scripts/countdown.js -->