<!-- ====================================================================================================================== -->
<!-- ## Copy dan paste kode dibawah ini di dalam tag <body> ##-->
<div id="toast-container"></div>

<!-- ====================================================================================================================== -->
<!-- ## Copy & paste kode dibawah ini di bagian bawah namun tetap dalam tag <body> ##-->
<script src="src/scripts/toasts-notification.js" language="javascript"></script>

<!-- Jika ingin memodifikasi konten yang ada pada notifikasi bisa menuju file src/scripts/toasts-notification.js -->